extends ../base

block content
    form(method="POST")
        input(type="text", name="title", placeholder="Title", value=video.title, required)
        input(type="text", name="description", placeholder="description", value=video.description)
        input(type="text", name="hashtags", placeholder="hashtags", value=video.hashtags.join())
        input(type="submit", value="Update")