extends ../base

block content
    if errorMessage
        span= errorMessage
    form(method="POST")
        if logginUser.password
            input(type="password", name="oldPassword", placeholder="Current Password")
        input(type="password", name="newPassword", placeholder="New Password")
        input(type="password", name="new1Password", placeholder="New Password")
        input(type="submit", value="Change Password")